
body {
  margin: 0;
  background: #F2F2F2;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}
#welcome {
  text-align: center;

 }
#container {
 display: grid;
 grid-template-columns: 70px auto;
 height: 100%;

 #content {
     padding: 30px 50px;

     ul {
         list-style-type: none;
         margin:0;padding:0;

         li {
             background: rgb(209, 209, 209);
             border-radius: 8px;
             padding: 20px;
             margin-bottom: 8px;

             a {
                 font-size: 1.5em;
                 text-decoration: none;
                 font-weight: bold;
                 color:rgb(30, 119, 163);
             }

             ul {
                 margin-top: 20px;

                 li {
                     padding:0;

                     a {
                         font-size: 1em;
                         font-weight: 300;
                     }
                 }
             }
         }
     }
 }
}
/* You can add global styles to this file, and also import other style files */

.input {
  width: 650px;
  font-size: 24px;
  text-align: center;
  margin: auto;
  display: block;
}

.basicText {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size:25px;
  margin-bottom: 0px;
  margin-top: 10px;
}
.button {
  height: 38px;
  background-color: rgb(69, 110, 197);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
  margin-top:5px;
  font-size: 24px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.buttonContainter {
  align-content: center;
}

.menulink {
  color: white;
  font-size: 12px;
  text-decoration: none;
  text-align: center;
}
body {
  margin: 0;
  background: #F2F2F2;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}
#logoSpot{
  size: 5px;
  text-align:center;
}
