<div>
    <h1>Otter Sign</h1>
    <ul>
      <li>
        <p class="basicText">Username</p><input class="input" type="text" #username />
        <br>
        <p class="basicText">Password</p><input class="input" type="password" #password />
        <div class="buttonContainer">
          <button class= "button" > Sign In </button>
        </div>
      </li>
    </ul>
  </div>
  <div>
    <ul>
      <li>
        <div class="buttonContainer">
          <button class = "button" style="width: 350px" > Sign Out </button>
        </div>
      </li>
    </ul>
  </div>
