<h1>Otter Products</h1>

<ul>
  <li>
    <a routerLink="/details/{{details}">Otter Sweater</a>
    <img src="src/assets/withAnimals/OtterBRSweater.png">
    <ul>
      <li>Price: $20</li>
      <li>Description: Hand sewn sweater to keep that otter pelt warm during those cold winter nights </li>
      <button mat-raised-button>Add to cart</button>
    </ul>
  </li>
</ul>
<ul>
    <li>
      <a routerLink="/details/{{details}">Otter Hoodie</a>
      <img src="src/assets/withAnimals/OtterHoodie.png">
      <ul>
        <li>Price: $40</li>
        <li>Description: Stylish Otter hoodie </li>
        <button mat-raised-button>Add to cart</button>
      </ul>
    </li>
  </ul>
  <ul>
      <li>
        <a routerLink="/details/{{details}">Otter Scarf</a>
        <img src="src/assets/withAnimals/OtterScarf.png">
        <ul>
          <li>Price: $10</li>
          <li>Description: Stylish Otter scarf</li>
          <button mat-raised-button>Add to cart</button>
        </ul>
      </li>
    </ul>
    <ul>
        <li>
          <a routerLink="/details/{{details}">Otter Red Hat</a>
          <img src="src/assets/withAnimals/OtterRedHat.png">
          <ul>
            <li>Price: $10</li>
            <li>Description: Red otter hat</li>
            <button mat-raised-button>Add to cart</button>
          </ul>
        </li>
      </ul>
      <ul>
          <li>
            <a routerLink="/details/{{details}">Otter Fluffy Jacket</a>
            <img src="src/assets/withAnimals/OtterFluffyJacket.png">
            <ul>
              <li>Price: $40</li>
              <li>Description: Fluffy otter jacket</li>
              <button mat-raised-button>Add to cart</button>
            </ul>
          </li>
        </ul>
        <ul>
            <li>
              <a routerLink="/details/{{details}">Otter Hat</a>
              <img src="src/assets/withAnimals/OtterHat.png">
              <ul>
                <li>Price: $10</li>
                <li>Description: Otter hat</li>
                <button mat-raised-button>Add to cart</button>
              </ul>
            </li>
          </ul>
          <ul>
              <li>
                <a routerLink="/details/{{details}">Otter Holiday Sweater</a>
                <img src="src/assets/withAnimals/OtterRSweatter.png">
                <ul>
                  <li>Price: $30</li>
                  <li>Description: Otter holiday sweater</li>
                  <button mat-raised-button>Add to cart</button>
                </ul>
              </li>
            </ul>
            <ul>
                <li>
                  <a routerLink="/details/{{details}">Otter Bowling Shirt</a>
                  <img src="src/assets/withAnimals/otterBowlShirt.png">
                  <ul>
                    <li>Price: $20</li>
                    <li>Description: Casual Otter Bowling shirt</li>
                    <button mat-raised-button>Add to cart</button>
                  </ul>
                </li>
              </ul>
              <ul>
                  <li>
                    <a routerLink="/details/{{details}">Otter Bowling Shirt</a>
                    <img src="src/assets/withAnimals/OtterCardigan.png">
                    <ul>
                      <li>Price: $25</li>
                      <li>Description: Warm Otter Cardigan</li>
                      <button mat-raised-button>Add to cart</button>
                    </ul>
                  </li>
                </ul>
